/* d:\vs code\restauraant\frontend\src\components\Gallery.css */

.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 350px;
  height: 450px;
  border-radius: 8px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  transition: transform 0.6s ease;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  background-image: none !important;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .swiper-slide {
    width: 300px;
  }
}

@media (max-width: 640px) {
  .swiper-slide {
    width: 250px;
  }
}
